{% extends "bases/base.html" %}
{% block main %}
    <div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
            <h1 class="mb-0 bread">Blog</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
		<div >
			<div class="container">
				<div class="row">
				<div class="col-lg-8 ftco-animate">
					<div v-for="art in article" class="row">
					{% for item in articles %}
						<div class="col-md-12 d-flex ftco-animate">
							<div class="blog-entry align-self-stretch d-md-flex">
							<a href="" class="block-20" style="background-image: url('{{item.image.url}}');">
							</a>
							<div class="text d-block pl-md-4">
							
								<div class="meta mb-3">
									<div><a href="#">{{item.date}}</a></div>
									<div><a href="#">{{item.auteur.username}}</a></div>
									<div><a href="#" class="meta-chat"><span class="icon-chat"></span> {{item.ArticleCommentaire.count}}</a></div>
									</div>
									<h3 class="heading"><a href="#">{{item.titre}}</a></h3>
									<p>{{item.description}}</p>
									<p><a href="{% url 'single' item.id  %}" class="btn btn-primary py-2 px-3">Read more</a></p>
								</div>
							
							</div>
						</div>
						
					{% endfor %}
					{% comment %} <div >
						<div class="col-md-12 d-flex ftco-animate" v-for="item in articles">
							<div class="blog-entry align-self-stretch d-md-flex">
							<a href="" class="block-20" v-bind:style="{ 'background-image': 'url(' + item.image + ')' }">
							</a>
							<div class="text d-block pl-md-4">
							
								<div class="meta mb-3">
									<div><a href="#">${item.date}</a></div>
									<div><a href="#">${item.auteur.username}</a></div>
									<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 2</a></div>
									</div>
									<h3 class="heading"><a href="">${item.titre}</a></h3>
									<p>${item.description}</p>
									<p><a :href="'${ url' + 'single' + item.id + '}'" class="btn btn-primary py-2 px-3">Read more</a></p>
								</div>
							
							</div>
						</div>
					</div> {% endcomment %}
					</div>
				</div> <!-- .col-md-8 -->
				<div class="col-lg-4 sidebar ftco-animate">
					<div class="sidebar-box">
					<form action="#" class="search-form">
						<div class="form-group">
						<span class="icon ion-ios-search"></span>
						<input type="text" class="form-control" placeholder="Search...">
						</div>
					</form>
					</div>
					<div id="cat" v>
						<div class="sidebar-box ftco-animate">
							<h3 class="heading">Categories</h3>
						<ul class="categories">
						{% for cat in categories %}
							<li><a href="#">{{cat.nom}} <span>{{cat.CategorieArticle.count}}</span></a></li>
						{% endfor %}
						</ul>
						</div>
					</div>

					<div class="sidebar-box ftco-animate">
					<h3 class="heading">Recent Blog</h3>
					<div id="recent">
						{% for art in articles %}
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url({{art.image.url}});"></a>
							<div class="text">
							<h3 class="heading-1"><a href="{% url 'single' art.id  %}">{{art.titre}}</a></h3>
							<div class="meta">
								<div><a href=""><span class="icon-calendar"></span> {{art.date}}</a></div>
								<div><a href=""><span class="icon-person"></span> {{art.auteur.username}}</a></div>
								<div><a href=""><span class="icon-chat"></span> {{art.ArticleCommentaire.count}}</a></div>
							</div>
							</div>
						</div>
						{% endfor %}
					</div>
					</div>

					<div class="sidebar-box ftco-animate">
					<h3 class="heading">Tag Cloud</h3>
					<div id="tag">
						<div class="tagcloud" v-for = "tg in tags">
							<a href="" class="tag-cloud-link">{{tg.nom}}</a>
						</div>
					</div>
					</div>

					<div class="sidebar-box ftco-animate">
					<h3 class="heading">Paragraph</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
					</div>
				</div>

				</div>
			</div>
		</div>
    </section> <!-- .section -->
{% endblock main %}